.login{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  align-items: center;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 12px;
  border-bottom: 8px solid rgb(255, 255, 255);
  background-color: rgb(213, 215, 214);

}
form{
  margin-bottom: 20px;
  margin-top: 20px;
}
h2{
  color: rgb(10, 7, 7);
}
input{
  width: 250px;
  
}
.ms a{
  color: rgb(8, 8, 8);
  margin-bottom: 20px;
}.ms {
  /* color: rgb(255, 255, 255); */
  margin-bottom: 20px;
}
.ms a:hover{
  color: #2601fb;
  cursor: pointer;
}
a{
  text-decoration: none;
}