<!-- <footer>
    <h3 id="logo" style="align-self: center;">Glycemonie</h3>
    <div id="line"></div>
     <div class="main-footer">
        <img id="diabete_day" src="https://i.ibb.co/zFSKQbf/diabete-day.png">
        <div class="footer-inf">
            <h3>Company</h3>
            <a href="">Us from the start</a>
            <a href="">Contact</a>
        </div>
        <div class="footer-inf">
            <h3>Careers</h3>
            <a href="">Work with us</a>
        </div >
        <div class="footer-inf">
            <h3>Discover</h3>
            <a href="">Blog</a>
            <a href="">for media</a>
            <a href="">Science & research</a>

        </div>
     </div>
     <div></div>


</footer> -->