<nav>
    <h3 class="logo">E-BANK</h3>
            <ul>
                <li><a routerLink="/account">account</a></li>
                <li><a href="#">cards</a></li>
                <li><a href="#">profil</a></li>
                <!-- <li><a [routerLink]="['/glycemie']">show all</a></li> -->
            </ul>
            <div>
            <ul>
              <li><a href="#">log out</a></li>
              <!-- <li><a [routerLink]="['/glycemie']">show all</a></li> -->
          </ul>
        </div>
        </nav>