
nav{
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 45px;
    margin-top: 45px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 100%;
    margin:0}


ul{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: beige; */
}


li{

    padding: 7px 14px;
    border-radius: 5px;
    border: 1px solid white;


}


ul li,a{
    text-decoration: none;
    list-style:none;
    color: black;
}

ul li :hover{
   color: blue;
}