<div class="body signUp">
    <h2 class="text-center">Sign up</h2>
    <form >
   <input ngModel name="name" type="text" class="form-controle mb-3 row" placeholder="enter your name" required/>
   <input ngModel name="username" type="text" class="form-controle mb-3 row" placeholder="enter your user name" required/>
   <input ngModel name="password" type="password" class="form-controle mb-3 row" placeholder="enter your password" required/>
   <input ngModel name="passwordConfirm" type="password" class="form-controle mb-3 row" placeholder="enter your password again"/>
   <input ngModel name="email" type="email" class="form-controle mb-3 row" placeholder="enter your email" required email/>
   <input ngModel name="date" type="date" class="form-controle mb-3 row" placeholder="enter your date" required/>
   <input ngModel name="adress" type="text" class="form-controle mb-3 row" placeholder="enter your adress" required/>

  <button class="btn btn-primary" >Sign up</button>
    </form>
</div>
