/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    background-color: #305a6c !important;
=======
    background-color: #eaeaea;
>>>>>>> e47c297 (third commit)
}


