<div class="body signUp">
    <h2 class="text-center">Create Account</h2>

    <form>
   <input  formControlName="name" type="text" class="form-controle mb-3 row" placeholder="enter your name" />
   <input  formControlName="username" type="text" class="form-controle mb-3 row" placeholder="enter your user name" />
   <input  formControlName="password" type="password" class="form-controle mb-3 row" placeholder="enter your password" />
   <input  formControlName="email" type="email" class="form-controle mb-3 row" placeholder="enter your email" />
   <input  formControlName="date" type="date" class="form-controle mb-3 row" placeholder="enter your date" />
   <input  formControlName="adress" type="text" class="form-controle mb-3 row" placeholder="enter your adress" />

  <button class="btn btn-primary" >Sign up</button>

</form>
<div class="ms"><a routerLink="/signin">I have account .</a></div>

</div>